.square {
  height: 250px;
  width: 270px;
  margin: 5px;
  background-color: #bcd0cf;
  border-color: blueviolet; }

.squareSelected {
  height: 250px;
  width: 270px;
  margin: 5px;
  border-color: #e9debb;
  border-width: 5px;
  border-style: solid;
  background-color: #bcd0cf; }

  .squareIA {
    height: 300px;
    width: 400px;
    margin: 5px;
    background-color: #bcd0cf;
    border-color: blueviolet; }
  
  .squareSelectedIA {
    height: 300px;
    width: 400px;
    margin: 5px;
    border-color: #e9debb;
    border-width: 5px;
    border-style: solid;
    background-color: #bcd0cf; }