.square {
  height: 200px;
  width: 270px;
  margin: 5px;
  background-color: #e83e8c;
  border-color: blueviolet; }

.squareSelected {
  height: 200px;
  width: 270px;
  margin: 5px;
  border-color: blueviolet;
  border-width: 5px;
  border-style: solid;
  background-color: #e83e8c; }
